<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.harbortype.showKinks</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Show Kinks</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleVersion</key>
	<string>14</string>
	<key>UpdateFeedURL</key>
	<string>https://raw.githubusercontent.com/harbortype/showKinks/master/Show%20Smooth%20Node%20Angle%20and%20Proportion.glyphsReporter/Contents/Info.plist</string>
	<key>productPageURL</key>
	<string>https://github.com/harbortype/showKinks</string>
	<key>productReleaseNotes</key>
	<string>Fixes error caused by some open paths.</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright, Harbor Type, 2020</string>
	<key>NSPrincipalClass</key>
	<string>showKinks</string>
	<key>PyMainFileNames</key>
	<array>
		<string>plugin.py</string>
	</array>
</dict>
</plist>
